body {
    font-family: Arial, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

}
#juego {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-gap: 20px;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}
#blue {
    background-color: blue;
}

#pantalla-inicio, #game-screen, #pantalla-ranking {
    text-align: center;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}
